body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 850px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#header {
    height: 75px;
    background: #FF6633;
    border-radius: 10px;
    border: 1px solid #eb521f;
    margin: 5px;
}

#contentwrap {
    width: 995px;
    float: left;
    margin: 0 auto;
    background: grey;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#rightcolumnwrap {
    width: 145px;
    float: left;
    margin: 0 auto;
}

#rightcolumn {
    background: #CC33FF;
    border-radius: 10px;
    border: 1px solid #b81feb;
    margin: 5px;
}