body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-image: url("/images/ODR9390.jpg");
    background-color: #cccccc;
}

p {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 850px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#header {
    height: 75px;
    background: #FF6633;
    border-radius: 10px;
    border: 5px solid #eb521f;
    margin: 25px;
    padding: 15px;
}

#contentwrap {
    width: 995px;
    float: left;
    margin: 0 auto;
    padding: 10px;
    background: grey;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#rightcolumnwrap {
    width: 145px;
    float: left;
    margin: 0 auto;
}

#rightcolumn {
    background: #CC33FF;
    border-radius: 10px;
    border: 1px solid #b81feb;
    margin: 5px;
}